* {
  padding: 0;
  height: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;

  background-color: rgb(37, 40, 49);
  background-color: #1b1b1b;
  /* background-color: grey; */
  background-image: url("https://www.freeiconspng.com/thumbs/grid-png/grid-png-transparent-pic-18.png");
  background-size: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
